/* Fonts */
@font-face {
  font-family: Judson;
  src: url("../fonts/Judson-Regular.otf") format("opentype");
}

@font-face {
  font-family: Work;
  src: url("../fonts/WorkSans-Regular.otf") format("opentype");
}

/* General styling */
html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Judson;
}

/* Navigation */
.navigation {
  padding-right: 5%;
  background: #000000;
  position: fixed;
  left: 0;
  width: 100%;
  text-align: right;
  -webkit-box-shadow: 0px 2px 12px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 2px 12px -2px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 2px 12px -2px rgba(0, 0, 0, 0.75);
  z-index: 5;
}

.navigation li {
  display: inline-block;
  padding: 2vh 1vh;
}

.navigation a,
#visit-us .arrow {
  list-style: none;
  text-decoration: none;
  color: #ffffff;
}

.navigation a {
  font-family: Work;
  font-stretch: ultra-condensed;
  font-size: 1.1rem;
  letter-spacing: 0.2px;
  text-transform: uppercase;
}

.navigation a:hover {
  opacity: 0.5;
  transition: 0.3s;
}

/* Header */
#header {
  background-image: url("../img/header.jpg");
  background-color: #cccccc;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.header-text {
  margin: auto;
  max-width: 1140px;
  padding-top: 25vh;
  height: 80vh;
}

.header-text h1 {
  text-transform: uppercase;
  color: #ffffff;
  font-size: 5rem;
  font-weight: 200;
}

.header-text .line,
#visit-us .line {
  margin: 25px auto;
  height: 3px;
  width: 25vh;
  background: #ffffff;
}

h3 {
  color: #b69d74;
}

.header-text h3 {
  color: #b69d74;
  font-size: 2.8rem;
}

/* About */
#about {
  margin: auto;
  max-width: 1140px;
}

#about .text {
  padding: 10vh 0;
}

#about h3 {
  text-align: center;
  padding-bottom: 2vh;
}

#about h3,
#areas h3,
#contact h3 {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: inherit;
}

#about p {
  padding: 1vh 5vh;
  font-family: Work;
  text-align: justify;
  font-size: 1.1rem;
}

#about .logo {
  padding-bottom: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15rem;
}

#about .fas {
  font-size: 2.5rem;
}

/* Parallax */
#visit-us {
  background: url("../img/3.jpg");
  height: 35vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.visit-us-text {
  margin: auto;
  max-width: 1140px;
}

#visit-us h2,
#visit-us p {
  font-family: Work;
  color: #ffffff;
  text-align: center;
  padding-left: 5vh;
  padding-right: 5vh;
}

#visit-us h2 {
  font-size: 2.5rem;
  text-transform: uppercase;
  padding-bottom: 2vh;
}

#visit-us .arrow {
  font-size: 2rem;
}

#visit-us .arrow:hover {
  opacity: 0.5;
  transition: 0.3s;
}

#visit-us p {
  letter-spacing: 2px;
  font-size: 1.2rem;
}

/* Areas */
#areas {
  background: #f7f7f7;
  padding-top: 8vh;
  padding-bottom: 12.5vh;
}

#areas h3,
#contact h3 {
  text-align: center;
}

#areas h3 {
  margin-bottom: 5vh;
}

#areas .area1,
#areas .area2,
#areas .area3,
#areas .area4,
#areas .area5,
#areas .area6,
#areas .area7,
#areas .area8,
#areas .area9,
#areas .area10,
#areas .area11,
#areas .area12,
#areas .area13,
#areas .area14,
#areas .area15 {
  background: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.grid-areas {
  margin: auto;
  max-width: 1140px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5vh;
}

.grid-areas h4 {
  font-size: 1.2rem;
  text-align: center;
  padding: 2.5vh;
  font-weight: bolder;
}

.grid-areas ul,
#areas p {
  padding: 1vh;
  padding-bottom: 2vh;
  list-style: none;
}

#areas h4,
#areas li,
#areas p {
  font-family: Work;
}

#areas p {
  text-align: justify;
}

#areas h4 {
  text-align: center;
}

#areas li {
  padding: 0.2vh 1.5vh;
}

#areas .fas {
  font-size: 2.5rem;
}

/* Contact */
#contact {
  background: #222222;
  text-align: center;
  padding-top: 8vh;
  padding-bottom: 8vh;
}

#contact h3,
#contact p {
  margin: auto;
  max-width: 1140px;
  padding-bottom: 5vh;
}

#contact input,
#contact textarea {
  padding: 10px;
  font-family: Work;
  font-size: 1rem;
  margin: 2.5vh auto;
  display: block;
  width: 500px;
}

#contact .input {
  height: 40px;
}

#contact textarea {
  height: 100px;
}

#submit-btn {
  cursor: pointer;
  text-transform: uppercase;
  border: 1px solid #b69d74;
  background-color: #b69d74;
  color: #f7f7f7;
}

#submit-btn:hover {
  border: 1px solid #b69d74;
  background-color: #222222;
}

#contact .fas {
  font-size: 2.5rem;
}

/* Map */
#map {
  margin: auto;
  max-width: 1140px;
}

#map .office {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 5vh;
  padding: 5vh;
}

#map .office h4,
#map .office p {
  font-family: Work;
  padding: 0.5vh;
}

#map .office h4 {
  font-size: 1.2rem;
}

#map .office img {
  padding-top: 2vh;
  max-width: 100%;
  height: auto;
}

/* Footer */
#footer {
  margin-top: 5vh;
  text-align: center;
  display: block;
  background-color: #333333;
}

#footer p {
  padding: 1.6vh;
  text-align: center;
  color: #f7f7f7;
  font-family: Work;
  font-size: 0.9rem;
}

#footer p a {
  font-family: Work;
  text-decoration: none;
  color: #b69d74;
}

#footer p a:hover {
  color: #f7f7f7;
}

/* media queries */
@media (max-width: 1200px) {
  .navigation a,
  #about p,
  #visit-us p,
  #areas li,
  #areas p,
  #map p {
    font-size: 1rem;
  }
  .grid-areas {
    padding: 2.5vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  #map .office {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
  }
}

@media (max-width: 700px) {
  .navigation {
    text-align: center;
  }
  .navigation a {
    font-size: 1rem;
  }
  .header-text h1 {
    font-size: 4rem;
  }
  .header-text h3 {
    font-size: 2rem;
  }
  #about h3,
  #areas h3,
  #contact h3 {
    font-size: 2.5rem;
  }
  #about .fas,
  #areas .fas,
  #contact .fas {
    font-size: 2rem;
  }
  #visit-us h2 {
    font-size: 2rem;
  }
  #visit-us p {
    font-size: 1rem;
  }
  .grid-areas {
    display: grid;
    grid-template-columns: 1fr;
  }
}

@media (max-width: 550px) {
  #contact input,
  #contact textarea {
    width: 400px;
  }
}

@media (max-width: 450px) {
  .navigation a,
  #about p,
  #visit-us p,
  #areas li,
  #areas p,
  #map p {
    font-size: 0.8rem;
  }
  .header-text h1 {
    font-size: 3.5rem;
  }
  .header-text h3 {
    font-size: 1.5rem;
  }
  #about h3,
  #areas h3,
  #contact h3 {
    font-size: 2rem;
  }
  #about .fas,
  #areas .fas,
  #contact .fas {
    font-size: 1.5rem;
  }
  #visit-us h2 {
    font-size: 1.4rem;
  }
  .grid-areas h4,
  #map h4 {
    font-size: 1rem;
  }
  #footer p {
    font-size: 0.6rem;
  }
  #contact input,
  #contact textarea {
    font-size: 0.8rem;
    width: 300px;
  }
}

@media (max-width: 360px) {
  .navigation a,
  #about p,
  #visit-us p,
  #areas li,
  #areas p,
  #map p {
    font-size: 0.7rem;
  }
  #visit-us h2 {
    font-size: 1.2rem;
  }
  .grid-areas h4,
  #map h4 {
    font-size: 0.8rem;
  }
  #contact input,
  #contact textarea {
    width: 250px;
  }
}
