@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300;400;500;600;700;800&display=swap');

:root {
  --dark-blue: #007690;
  --darker-blue: #155071;
  --mint: #009c9c;
  --white: #ddd;
  --light-grey: #ccc;
  --dark-grey: #222;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Merriweather Sans', sans-serif;
  scroll-behavior: smooth;
}

.container {
  margin: auto;
  max-width: 1200px;
}

#about h2,
#areas h2,
#contact h2 {
  color: var(--mint);
  font-size: 2rem;
  text-align: center;
}

/* NAV */
nav {
  background-color: var(--dark-blue);
  height: 8vh;
  position: fixed;
  width: 100%;
}

nav .container {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

nav .container .links {
  display: flex;
  flex-direction: row;
}

nav .container .links a {
  text-decoration: none;
}

nav .container .links li {
  list-style: none;
  margin: 0 20px;
  color: #fff;
  font-size: 0.8rem;
}

/* HEADER */
header {
  height: 85vh;
  background-image: url('./assets/bg.png');
  background-size: cover;
}

header .container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header .container h1 {
  font-size: 5rem;
  color: white;
}

header .container h3 {
  font-size: 3rem;
  color: white;
}

header .container button {
  padding: 20px 50px;
  border: none;
  background-color: var(--mint);
  color: var(--white);
}

/* ABOUT */
#about {
  background-color: var(--white);
}

#about .container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15vh;
}

#about .container p {
  font-size: 1.2rem;
  text-align: center;
  margin: 15px;
  line-height: 2rem;
  text-align: justify;
}

#about .container button {
  padding: 20px 50px;
  border: none;
  background-color: var(--mint);
  color: var(--white);
  cursor: pointer;
}

/* AREAS */
#areas {
  background-color: var(--light-grey);
}

#areas .container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15vh;
}

#areas .area-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

#areas .area {
  background-color: var(--dark-blue);
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px;
  height: 200px;
}

#areas .area h4 {
  padding: 15px;
}

#areas .area h4 {
  font-size: 1.2rem;
}

/* FAQ */
#faq {
  background-color: var(--darker-blue);
}

#faq .container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15vh;
}

#faq h2 {
  color: var(--white);
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2vh;
}

#faq .question {
  background-color: var(--white);
  margin: 20px 0;
  width: 80vw;
  cursor: pointer;
}

#faq .question .question-text {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

#faq .question .question-text h4 {
  font-weight: 700;
}

#faq .question .answer {
  margin: 20px;
  font-weight: 100;
}

#faq .question .fa-solid {
  margin-left: 20px;
  color: var(--darker-blue);
  font-size: 1.2rem;
}

/* CONTACT */
#contact {
  background-color: var(--light-grey);
  height: 40vh;
}

#contact .container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* FOOTER */
footer {
  background-color: var(--dark-grey);
  height: 20vh;
  color: var(--white);
}

footer .container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer .container p {
  font-size: 0.8rem;
}

/* FULL HEIGHT */
.full-height-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

section#contact.full-height {
  height: 100%;
  display: flex;
  flex-grow: 1;
}
