@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Manrope:wght@200;300;400;500;600;700;800&family=Merriweather+Sans:wght@300;400;500;600;700;800&display=swap');

:root {
  --dark-blue: #385152;
  --darker-blue: #457778;
  --mint: #457778;
  --white: #ddd;
  --light-grey: #ccc;
  --dark-grey: #2b2b2b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

.container {
  margin: auto;
  max-width: 1200px;
}

#about h2,
#areas h2,
#contact h2 {
  color: var(--mint);
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2vh;
}

/* NAV */
nav {
  background-color: var(--dark-grey);
  height: 8vh;
  position: fixed;
  width: 100%;
  transition: 0.3s;
}

nav .container {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

nav .container .logo a {
  color: var(--white);
  font-size: 1.2rem;
}

nav .container .links {
  display: flex;
  flex-direction: row;
}

nav .container .links a {
  text-transform: uppercase;
}

nav .container .links li {
  list-style: none;
  margin: 0 20px;
  color: #fff;
  font-size: 0.8rem;
}

nav .container .links a.active li {
  font-weight: bolder;
}

/* BURGER NAV */
nav .burger-menu {
  display: none;
}

nav .burger-menu i {
  color: #fff;
  cursor: pointer;
}

.burger-nav-container {
  background-color: rgba(0, 0, 0, 0.9);
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.burger-nav-container ul {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.burger-nav-container li {
  font-size: 2rem;
  margin: 10px;
  letter-spacing: 2px;
  color: #fff;
  list-style: none;
}

/* HEADER */
header {
  background-image: url('./assets/tribunales_bg.jpg');
  background-size: cover;
  height: 85vh;
}

header .container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header .container h1 {
  font-size: 5rem;
  color: white;
}

header .container h3 {
  font-size: 3rem;
  color: white;
  font-weight: 300;
  margin-bottom: 5vh;
}

header .container button {
  cursor: pointer;
  padding: 20px 50px;
  border: none;
  background-color: var(--dark-grey);
  color: var(--white);
}

/* ABOUT */
#about {
  background-color: var(--white);
}

#about .container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 15vh 15vh 10vh 15vh;
}

#about .container p,
#area-page.container p {
  text-align: center;
  margin-bottom: 3vh;
  line-height: 2rem;
  text-align: justify;
}

#about .container p:last-of-type,
#area-page.container p:last-of-type {
  margin-bottom: 5vh;
}

#about .container button {
  padding: 20px 50px;
  border: none;
  background-color: var(--mint);
  color: var(--white);
  cursor: pointer;
}

/* AREAS */
#areas {
  background-color: var(--light-grey);
}

#areas .container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15vh;
}

#areas .area-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

#areas .area-items a {
  text-align: center;
}

#areas .area {
  background-color: var(--dark-blue);
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px;
  height: 200px;
}

#areas .area h4 {
  padding: 15px;
}

#areas .area h4 {
  font-size: 1.2rem;
}

/* AREA PAGE */
#area-page.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 15vh 15vh 10vh 15vh;
}

#area-page h2 {
  color: var(--mint);
  font-size: 1.5rem;
  margin-bottom: 2vh;
}

/* FAQ */
#faq {
  background-color: var(--darker-blue);
}

#faq .container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15vh;
}

#faq h2 {
  color: var(--white);
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2vh;
}

#faq .question {
  background-color: var(--white);
  margin: 20px 0;
  width: 80vw;
  cursor: pointer;
  color: var(--dark-blue);
}

#faq .question .question-text {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

#faq .question .question-text h4 {
  font-weight: 700;
}

#faq .question .answer {
  margin: 20px;
  font-weight: 300;
}

#faq .question .fa-solid {
  margin-left: 20px;
  color: var(--darker-blue);
  font-size: 1.2rem;
}

/* CONTACT */
#contact {
  background-color: var(--light-grey);
}

#contact .container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15vh;
}

#contact .container .contact-item-container {
  margin-top: 5vh;
}

#contact .container .contact-item {
  display: flex;
  align-items: center;
  margin: 10px;
}

#contact .container .contact-item i {
  color: var(--mint);
  font-size: 1.6rem;
  margin-right: 20px;
}

#contact .container .contact-item a {
  color: var(--dark-grey);
  font-size: 1.2rem;
}

/* FOOTER */
footer {
  background-color: var(--dark-grey);
  color: var(--white);
}

footer .container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  padding: 8vh 5vh;
}

footer .container h5 {
  margin-bottom: 2vh;
}

footer .areas {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer .areas-items {
  display: flex;
  justify-content: center;
}

footer .container li {
  font-size: 0.8rem;
  list-style: none;
  color: var(--white);
  font-weight: 300;
}

footer .areas-items li {
  margin: 0 20px;
}

/* MEDIA QUERIES*/
@media (max-width: 1250px) {
  .container {
    max-width: 850px;
  }
  #areas .area-items {
    grid-template-columns: repeat(2, 1fr);
  }
  footer .areas-items {
    flex-direction: column;
  }
}

@media (max-width: 950px) {
  .container {
    max-width: 750px;
  }
  #areas .area-items {
    width: 80%;
    display: flex;
    flex-direction: column;
  }
  nav .container .links {
    display: none;
  }
  nav .burger-menu {
    display: block;
  }
}

@media (max-width: 800px) {
  .container {
    max-width: 650px;
  }
  #about h2,
  #areas h2,
  #contact h2,
  #area-page h2 {
    font-size: 1.5rem;
  }
  p {
    font-size: 0.9rem;
  }
  #about .container p,
  #area-page.container p {
    margin-bottom: 2vh;
    line-height: 1.5rem;
  }
  #areas .area h4 {
    font-size: 1rem;
  }
  #faq .question .question-text h4 {
    font-size: 0.9rem;
  }
  header .container h1 {
    font-size: 3rem;
  }
  header .container h3 {
    font-size: 1.5rem;
  }
  header .container button,
  #about .container button {
    padding: 15px 40px;
    font-size: 0.8rem;
  }
  #about .container,
  #areas .container,
  #area-page.container {
    padding: 15vh 10vh 10vh 10vh;
  }
  footer .container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  footer .container .links {
    margin-bottom: 5vh;
  }
  footer .container .areas {
    margin-bottom: 5vh;
  }
}

@media (max-width: 700px) {
  .container {
    max-width: 550px;
  }
  #areas .area-items {
    width: 90%;
  }
  #about .container,
  #areas .container,
  #contact .container,
  #faq .container {
    padding: 6vh;
  }
  #area-page.container {
    padding: 15vh 6vh 6vh 6vh;
  }
}

@media (max-width: 600px) {
  .container {
    max-width: 90%;
  }
  header {
    height: 60vh;
  }
  #areas .area {
    height: 150px;
  }
}

@media (max-width: 500px) {
  #about .container,
  #areas .container,
  #faq .container {
    padding: 4vh;
  }
  #area-page.container {
    padding: 15vh 4vh 4vh 4vh;
  }
  header .container h1 {
    font-size: 2rem;
  }
  header .container h3 {
    font-size: 1rem;
  }
  header {
    height: 40vh;
  }
  header .container button,
  #about .container button {
    padding: 10px 30px;
  }
  header .container h1 {
    font-size: 1.4rem;
  }
}

@media (max-width: 400px) {
  #about .container,
  #areas .container,
  #faq .container {
    padding: 2vh;
  }
  #area-page.container {
    padding: 15vh 2vh 2vh 2vh;
  }
  .burger-nav-container li {
    font-size: 1.5rem;
    margin: 20px;
  }
}
